body
{
    background-color: darkseagreen;
    text-align: center;
}

.grandparent
{
    width: 100%;
    height: 100%;
}

.parent a
{
    text-decoration: none;
    color: white;
}

.child1 a:hover
{
    /*background-color: darkturquoise;*/
    margin: 50px 50px;
    padding: 25px;
    color: firebrick;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.child1
{
    padding: 50px;
    margin: 10px;
}*/

.child2
{
    padding: 50px;
    margin: 10px; 
}

.child3
{
    padding: 50px;
    margin: 10px;
}

.parent
{
    display: flex; 
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
