*{
    margin: 0;
    padding: 0;
   /*font-family: 'Open Sans', sans-serif;*/
   font-family: 'Fuzzy Bubbles', cursive;
}

.carousel-inner img
{
    width: 100%;
    height: 100%;
}

.bedna img{
    /*object-fit: cover;*/
    filter: brightness(0.5) grayscale(1);
    transition: 0.3s ease-in-out;
}

.bedna:hover img{
   filter: none;
}